* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: rgb(214, 211, 211);
}

body {
    background-color: var(--main-color);
    color: white;
}

.bull-logo-container {
    height: 100px;
    width: 300px;
    
}

.bull {
    margin-left: 0.7vw;
    max-width: 100%;
    max-height: 100%;
}